@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
}

h1 {
  font-family: 'Saira', sans-serif;
}

.container {
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 10px;
  column-gap: 20px;
}

.card {
  background-color: #E2E2C2;
  border: solid 2px #DB3069;
  border-radius: 8px;
  height: 330px;
  box-shadow: 2px 5px 12px -1px rgba(0,0,0,0.34);
}


.picture {
  position: relative;
  width: 100%;
  text-align: center;

  img {
    width: 90%;
  }
}

.trash {
  z-index: 100;
  position: absolute;
  bottom: 5px;
  right: 5px;

  a {
    color: #DB3069;
  }
}
.trash:hover {
  opacity: 0.3;
}

.content {
  background-color: #DB3069;
  border-radius: 5px;
  padding: 8px;
  height: 50px;
  width: 100%;
  bottom: 0;
  font-family: 'Saira', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: white;

  span {
    font-size: 0.8em;
    font-weight: 100;
    border: solid 1px white;
    border-radius: 500px;
    padding: 3px;
    margin-left: 5px;
  }
}
