// Specific CSS for your home-page

.homepage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("bg.png");
  background-repeat: no-repeat;
}

.homepage img{
  width: 600px;
}
