<div class="homepage container-fluid">
  <div>
    <%= image_tag("logo.png") %>
  </div>

  <div>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-dark" %>
    <%= link_to "Register", new_user_registration_path, class: "btn btn-outline-dark" %>
  </div>
</div>
