.navbar-lewagon {
  justify-content: space-between;
  background: #fade5f;
  box-shadow: 2px 5px 12px -1px rgba(0,0,0,0.38);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-nav {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #3C3C3B;
  font-size: 24px;
  font-weight: 900;
  height: 28px;
  top: 32px;
}


.nav-item, .nav-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: rgb(0, 0, 0);
  font-size: 21px;
  font-weight: 900;

}

.nav-drop {
  background: #F5D547;
}
