
<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h1>Trade Pokémons</h1>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Pokémons</h3>
    <%= link_to "Add a Pokémon to your list", new_pokemon_path, class: "btn btn-flat" %>
  </div>
</div>

<% @pokemons.each do |pokemon| %>
  <%= pokemon.name %>
  <%= pokemon.type_1 %>
  <%= pokemon.type_2 if pokemon.type_2 %>
<% end %>
