// Fonts
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,300;0,500;1,100&display=swap');

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "my_pokemons/index";
